@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Sriracha&display=swap');

*{
     margin: 0px;
    padding: 0px;
}
body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}
main{
    margin: 30px;
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.29);
}
img{
    
    height: 20vh;
    width: auto;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.29);
    border-radius: 50%;
    
}
picture{
    display: flex;
    justify-content: center;
    margin: 30px;
    
}
h1{
    color: hsl(0, 0%, 100%);
    font: 700 2em inter;
    text-align: center;
    margin: 5px;
   
}
p#enderco{
    font: 600 1em inter;
    color: hsl(75, 94%, 57%);
    text-align: center;
    margin: 10px;
}
p#descricao{
    font: 400 1em inter;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 30px 0px;
}
section.minhas-redes > p, a{
    display: flex;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font: 400 1.1em inter;
    margin: 15px auto;
    justify-content: center;
    
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    max-width: 80%;
}
.minhas-redes > p:hover{
    background-color: hsl(75, 94%, 57%);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.29);
    
    a{
        background-color: hsl(75, 94%, 57%);
        color: black;
    }
}
